@use '@angular/material' as mat;
$contact-bloc-height: 55.5px;

.contact-section{
    padding-bottom: 0;

    .contact-container{
        margin-block-start: 1em;
        margin-block-end: 1em;
        display: flex;
        text-align: center;

        .mat-mdc-mini-fab{
            height: $contact-bloc-height;
            width: $contact-bloc-height;
            color: white;
    
            ::ng-deep .mat-button-wrapper{
                padding: 14px 0;
            }
        }

        &.handset{
            flex-direction: column;

            .mat-mdc-mini-fab{
                margin: 0 auto;
            }
        }

        &:not(.handset){
            flex-direction: row;

            .mat-mdc-mini-fab{
                margin-right: 20px;
            }
        }
    }

    
}


    

    .contact-link{
        color: #3f51b5;
    }

    .contact-link{
        text-decoration: none;
        border-bottom: 3px solid transparent;
        padding: 3px 0;
        margin: 14px 0px;
        height: 19px;
    }

    .contact-link:hover{
        border-bottom: 3px solid #3f51b5;
        transition: 0.4s all;
        -moz-transition: 0.4s all;
        -webkit-transition: 0.4s all;
        -webkit-tap-highlight-color: transparent;
    }

