<div class="container" #container>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div scrollSpy class="scroll-container">
        <app-home id="home" class="section"></app-home>
    
        <app-about id="about" class="section"></app-about>
        
        <app-experience id="experience" class="section"></app-experience>
        
        <app-projects id="projects" class="section"></app-projects>
        
        <app-skills id="skills" class="section"></app-skills>
                
        <app-education id="education" class="section"></app-education>
        
        <app-contact id="contact" class="section" [isHandset]="isHandset"></app-contact>
    </div>
</cdk-virtual-scroll-viewport>

</div>
