.container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.scroll-container{
    overflow-x: hidden;
}

.example-viewport {
    height: 100%;
    width: 100%;
    border: 1px solid black;
  }
  